body{
    background-image: linear-gradient(#f7f2e7,#e0ece4);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
    box-shadow: 8px 8px 8px gray;
}
img:hover{
    /* transform: scaleZ(100deg); */
    
  transform-style: preserve-3d;
/*   
  -webkit-transform: scale(1.4); */
  transform: rotateY(180deg);
}

h1{
   font-size: 50px; 
   font-family: "League Gothic", Impact, sans-serif;
    animation: color-change 2s infinite;
}

  
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: black; }
  }

